@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container">
<h1>Ajouter un nouveaux utilisateur</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Nouveux compte</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                   <div class="form-group">
                <label asp-for="Input.Datenaissance"></label>
                <input asp-for="Input.Datenaissance" class="form-control">
                <span asp-validation-for="Input.Datenaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Statut"></label>
                <select asp-for="Input.Statut" class="form-control">
                    <option value="prof">Professeur</option>
                     <option value="admin">Administrateur</option>
                </select>
                <span asp-validation-for="Input.Statut" class="text-danger"></span>
            </div>
                               <div class="form-group">
                <label asp-for="Input.Nom"></label>
                <input asp-for="Input.Nom" class="form-control">
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
                               <div class="form-group">
                <label asp-for="Input.Prenom"></label>
                <input asp-for="Input.Prenom" class="form-control">
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
                               <div class="form-group">
                <label asp-for="Input.DateEmbauche"></label>
                <input asp-for="Input.DateEmbauche" class="form-control">
                <span asp-validation-for="Input.DateEmbauche" class="text-danger"></span>
            </div>
                               <div class="form-group">
                <label asp-for="Input.Matricule"></label>
                <input asp-for="Input.Matricule" class="form-control">
                <span asp-validation-for="Input.Matricule" class="text-danger"></span>
            </div>

                               <div class="form-group">
                <label asp-for="Input.MatiereId"></label>
            
   <select asp-for="Input.MatiereId" class="form-control">
       @foreach(var item in Model.Matieres)
       {
           <option value="@item.IdMatiere">@item.Libelle</option>
       }
   </select>
                <span asp-validation-for="Input.MatiereId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
