
@model MiniProjet_alpha.ViewModels.EtudiantViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modifier</h1>

<h4>Gestion des étudiants</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Etudiant.IdEtudiant" />
            <div class="form-group">
                <label asp-for="Etudiant.Nom" class="control-label"></label>
                <input asp-for="Etudiant.Nom" class="form-control" />
                <span asp-validation-for="Etudiant.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.Prenom" class="control-label"></label>
                <input asp-for="Etudiant.Prenom" class="form-control" />
                <span asp-validation-for="Etudiant.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.Matricule" class="control-label"></label>
                <input asp-for="Etudiant.Matricule" class="form-control" />
                <span asp-validation-for="Etudiant.Matricule" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Etudiant.ClasseIdClasse" class="control-label"></label>
                                <select asp-for="Etudiant.ClasseIdClasse"  class="form-control">
                    @foreach (var item in Model.Classes)
                    {
                        <option value="@item.IdClasse">@item.Libelle</option>
                    }
                </select>
                <span asp-validation-for="Etudiant.ClasseIdClasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Retourner vers la liste principale</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
